body {
    background-color: white;
}

.imageViewer {
    padding: 10px;
    border : 2px solid gray;
    border-radius: 20px;
    height: 500px;
    overflow: auto;
    margin: 5px;
}

.imageViewer img {
    width: 150px;
    height: 150px;
    float: left;
    padding: 5px;
    border : 1px solid black;
    margin:10px;
}